#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q         &kp W        &kp E     &kp R     &kp T        &kp Y         &kp U     &kp I     &kp O         &kp P
                &kp A         &kp S        &kp D     &kp F     &kp G        &kp H         &kp J     &kp K     &kp L         &kp RSHIFT
                &mt LCTRL Z   &mt LALT X   &lt 1 C   &lt 2 V   &lt 3 BSPC   &lt 4 SPACE   &lt 5 B   &kp N     &mt RCTRL M   &kp ENTER     &kp RGUI
            >;
        };
        /*one_layer {
            bindings = <
                &kp ESC     &trans     &trans     &trans     &trans     &kp MINUS     &kp EQUAL     &kp LBKT     &kp RBKT     &kp BSLH
                &kp TAB     &trans     &trans     &trans     &trans     &kp COMMA     &kp DOT       &kp FSLH     &kp SEMI     &kp SINGLE_QUOTE
                &kp CLCK    &trans     &trans     &trans     &trans     &trans        &kp LEFT      &kp DOWN     &kp UP       &kp RIGHT            &kp KP_N3
            >;
        };
        two_layer {
            bindings = <
                &trans     &trans     &trans     &trans     &trans     &kp UNDER     &kp PLUS     &kp LBRC     &kp RBRC     &kp PIPE
                &trans     &trans     &trans     &trans     &trans     &kp LT        &kp GT       &kp QMARK    &kp SEMI     &kp QUOTE
                &trans     &trans     &trans     &trans     &trans     &trans        &kp HOME     &kp PG_UP    &kp PG_DN    &kp END     &trans
            >;
        };
        three_layer {
            bindings = <
                &kp EXCEL     &kp AT     &kp POUND     &kp DOLLAR     &kp PRCNT     &kp CARET     &kp AMPS     &kp ASTRK     &kp LPAR     &kp RPAR
                &trans        &trans     &trans        &trans         &trans        &kp KP_N3     &kp KP_N3    &kp KP_N2     &kp TILDE    &kp GRAVE
                &trans        &trans     &trans        &trans         &trans        &trans        &kp KP_N3    &kp KP_N2     &kp KP_N3    &kp KP_N2     &trans
            >;
        };
        four_layer {
            bindings = <
                &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
                &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp F7     &kp F8
                &kp F11    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp F12     &trans
            >;
        };
        bt_layer {
            bindings = <
                &trans     &trans     &trans     &trans     &trans     &trans     &trans     &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2
                &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans           &trans           &trans
                &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans           &trans           &trans         &trans
            >;
        };*/
    };
};
