#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>






/ {
behaviors {
  ht: hold_tap {
    label = "hold_tap";
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
    quick-tap-ms = <150>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
  };
};

    keymap {
        compatible = "zmk,keymap";



        default_layer {
            bindings = <
                &kp Q         &kp W        &kp E     &kp R     &kp T        &kp Y         &kp U     &kp I     &kp O         &kp P
                &kp A         &kp A        &kp D     &kp F     &kp G        &kp H         &kp J     &kp K     &kp L         &kp RSHIFT
                &mt LCTRL Z   &mt LALT X   &lt 1 C   &lt 2 V   &lt 3 BSPC   &lt 4 SPACE   &lt 5 B   &kp N     &mt RCTRL M   &kp ENTER     &kp RGUI
            >;
        };
        one_layer {
            bindings = <
                &kp ESC     &bootloader     &trans     &trans     &trans     &kp MINUS     &kp EQUAL     &kp LBKT     &kp RBKT     &kp BSLH
                &kp TAB     &trans          &trans     &trans     &trans     &kp COMMA     &kp DOT       &kp FSLH     &kp SEMI     &kp SINGLE_QUOTE
                &kp CLCK    &trans          &trans     &trans     &trans     &trans        &kp LEFT      &kp DOWN     &kp UP       &kp RIGHT            &trans
            >;
        };
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        two_layer {
            bindings = <
                &trans     &trans     &trans     &trans     &trans     &kp UNDER     &kp PLUS     &kp LBRC     &kp RBRC     &kp PIPE
                &trans     &trans     &trans     &trans     &trans     &kp LT        &kp GT       &kp QMARK    &kp SEMI     &kp DQT
                &trans     &trans     &trans     &trans     &trans     &trans        &kp HOME     &kp PG_UP    &kp PG_DN    &kp END     &trans
            >;
        };

        three_layer {
            bindings = <
                &kp EXCL       &kp AT     &kp POUND     &kp DLLR       &kp PRCNT     &kp CARET     &kp AMPS     &kp ASTRK    &kp LPAR     &kp RPAR
                &trans        &trans     &trans        &trans         &trans        &trans        &trans       &trans       &kp TILDE    &kp GRAVE
                &trans        &trans     &trans        &trans         &trans        &trans        &trans       &trans       &trans       &trans        &trans
            >;
        };
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        four_layer {
            bindings = <
                &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
                &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp F7     &kp F8
                &kp F11    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp F12     &trans
            >;
        };
        bt_layer {
            bindings = <
                &trans     &trans     &trans     &trans     &trans          &trans     &trans     &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2
                &trans     &trans     &trans     &trans     &trans          &trans     &trans     &trans           &trans           &trans
                &trans     &trans     &trans     &trans     &bootloader     &trans     &trans     &trans           &trans           &trans         &trans
            >;
        };
    };
};
